* {
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: sceptical;
    src: url(Sceptical.otf);
  }
  @font-face {
    font-family: Dar;
    src: url(Darlothes\ Grunge.otf);
  }

  body {
    user-select: none;
    background-color: black;
  }


  #fundo {
    top: 0%;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    image-rendering: optimizeQuality;
    height: 100vh;
    filter: brightness() opacity(20%);
    background-image: url(https://i.pinimg.com/originals/1a/5d/5b/1a5d5b2f6d034183c75fd4904cbcb63a.gif);
  }

  #assistir {
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: 23px;
    padding: 12px 37px;
    border-radius: 7px;
    background-color: white;
    gap: 4px;
    z-index: 1;
    color: black;
    font-weight: 900;
    cursor: pointer;
  }
  #creditos {
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    padding: 12px 37px;
    border-radius: 7px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    gap: 4px;
    z-index:2;
    cursor: pointer;
  }
  #creditos:hover,
  #assistir:hover {
    transform: scale(0.99);
  }
  

  #titulo {
    z-index: 1;
    color: white;
    font-size: 100px;
    letter-spacing: -19px;
    font-family: sceptical;
  }
  #pj {
    color: white;
    z-index: 1;
    font-size: 30px;
    font-family: Dar;
    letter-spacing: 10px;
    margin-left: 2%;
  }
  #perfil {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1;
    color: #ffffff;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: start;
  }
  #perfil-icon {
    border-radius: 50%;
  }

  #sobre{
      height: 100vh;
      width: 100%;
      position: fixed;
      top:1%;
      color: white;
      z-index: 1;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  }
  
  #pessoas{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: dar;
      letter-spacing: 2px;
      font-size: 30px;
  }
  
  #grupo {
    display: block;
    text-align: center;
    justify-content: start;
    top: 1%;
    margin-left: 7%;
    z-index: 1;justify-content: start;
    color: white;
    font-size: 100px;
    font-family: sceptical;
  }

  #info-pessoas{
      cursor: pointer;
      padding: 7px;
      margin: 10% 2%;
      display: flex;
      border-radius: 8px;
      flex-direction: column;
      justify-content: center;
      border: 2px solid white;
      overflow: hidden;
      align-items: center;
  }
  #info-pessoas:hover{
      scale: 1.4;
  }
  #info-pessoas img:hover{
      border-radius: 6px;
  }

  
  #inicio{
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  #sair {
    padding: 2px 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    margin: 2%;
    display: flex;
    z-index: 100;
    border-radius: 5px;
  }
  #sair:hover{
    z-index: 100;
    scale: 0.9;
    padding: 2px 10px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    position: fixed;
    margin: 2%;
    border: 2px solid white;
    border-radius: 5px;
  }

  a {
      text-decoration: none;
  }

  #conteudo { 
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100vh;
  }

  #video {
    border: 2px solid hsl(0, 0%, 100%);
    padding: 5px 0px;
    border-radius: 12px; 
    width: 70%;
    height: 60%;
    background-color: black;
    z-index: 10;
    display: flex;
    margin: 2% 0;
  }

  #nome{
    font-family: sceptical;
    letter-spacing: 3px;
  }
  #descriçao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    text-align: center;
  }
  #descriçao h2{
    color: yellow;
  }

  #btn{
    z-index: 10;
    position: fixed;
    top: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }

  #center-titulo{
    display: flex;
    z-index: 10;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    top: 27%;
    flex-direction: column;
  }


  @media screen and (max-width:767px) {
    #fundo {
        top: 0%;
        width: auto;
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: top;
        image-rendering: optimizeQuality;
        height: 100vh;
        filter: brightness() opacity(70%);
        background-image: url(https://i.pinimg.com/originals/74/f8/82/74f882efaca5db0c6016b569cd00bc93.gif);
      }

      #assistir {
        text-align: center;
        display: flex;
        text-decoration: none;
        font-size: 23px;
        padding: 7px 30px;
        border-radius: 7px;
        background-color: white;
        gap: 4px;
        z-index: 1;
        color: black;
        font-weight: 900;
        cursor: pointer;
      }
      #creditos {
        text-align: center;
        display: flex;
        text-decoration: none;
        font-size: 20px;
        padding: 7px 30px;
        border-radius: 7px;
        color: white;
        background-color: transparent;
        border: 2px solid white;
        gap: 4px;
        z-index:2;
        cursor: pointer;
      }
      #creditos:hover,
      #assistir:hover {
        transform: scale(0.99);
      }
      #btn{
        z-index: 10;
        position: fixed;
        top: 52%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
      }
      
    
      #titulo {
        font-weight: 100;
        z-index: 1;
        color: white;
        font-size: 45px;
        letter-spacing: -6px;
        font-family: sceptical;
      }
      #pj {
        color: white;
        z-index: 1;
        font-size: 20px;
        font-family: Dar;
        letter-spacing: 10px;
      }

      #center-titulo{
        display: flex;
        z-index: 10;
        top: 40%;
        gap: 10px;
        position: fixed;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
      
      }

      #sobre{
        height: 100vh;
        top: 7%;
        position: fixed;
        color: white;
        z-index: 1;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    #pessoas{
        display: grid;
        grid-template-columns: 30% 30%;
        gap: 20px;
        justify-content: center;
        align-items: center;
        font-family: dar;
        letter-spacing: 2px;
        font-size: 30px;
        margin-bottom: 3%;
    }
    
    #grupo {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: start;
      z-index: 1;
      color: white;
      font-size: 100px;
      font-family: sceptical;
    }

    #conteudo { 
        justify-content: stretch;
        gap: 20px;
        align-items: center;
        flex-direction: column;
        margin-top: 13%;
        display: flex;
        z-index: 10;
        color: white;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100vh;
      }


    #video {
        border: 2px solid rgb(20, 18, 18);
        padding: 5px 0px;
        border-radius: 12px; 
        width: 90%;
        height: auto;
        background-color: black;
        z-index: 10;
        display: flex;
        box-shadow: 0px 0px 10px rgb(228, 223, 223);
      }

      #descriçao{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        text-align: center;
      }
      #descriçao h2{
        color: yellow;
      }


  }

  
